{{#if model.length}}
	{{#each model as |app|}}
		{{app-overview app=app}}
	{{/each}}
	{{#link-to "authenticated.apps.new"}}Add another app...{{/link-to}}
{{else}}
	{{#centered-content}}
		<h2>You don't have any apps yet!</h2>
		{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one
	{{/centered-content}}
{{/if}}
