{{#if model.length}}
	<div class="h2">
		<span>Your apps</span>
		{{#if (can "create app")}}
			{{#link-to "authenticated.apps.new" class="btn btn-primary pull-right"}}New...{{/link-to}}
		{{/if}}
	</div>
	<ul class="list-group">
		{{#each model as |app|}}
			<li class="list-group-item">
				{{#app-info app=app as |appInfo|}}
					{{appInfo.actionsPanel
						onEditApp=(route-action "onEditApp")
						onDeleteApp=(route-action "onDeleteApp")
						onSetAppStatus=(route-action "onSetAppStatus")
					}}
				{{/app-info}}
			</li>
		{{/each}}
	</ul>
{{else}}
	{{#centered-content}}
		{{#if (can "create app")}}
			<h3>
				<div>You don't have any apps yet!</div>
				<small>{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one</small>
			</h3>
		{{else}}
			<h3>
				<div>It doesn't look like anybody's submitted any apps yet...</div>
				<small>Come back again later!</small>
			</h3>
		{{/if}}
	{{/centered-content}}
{{/if}}
