{{#if model.length}}
	<h2>Your apps</h2>
	{{#each model as |app|}}
		{{#app-info app=app as |appInfo|}}
			{{appInfo.actionsPanel}}
		{{/app-info}}
	{{/each}}
	{{#link-to "authenticated.apps.new"}}Add another app...{{/link-to}}
{{else}}
	{{#centered-content}}
		<h2>You don't have any apps yet!</h2>
		{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one
	{{/centered-content}}
{{/if}}
