{{#if model.length}}
	<h2>Your apps</h2>
	<ul class="list-group">
		{{#each model as |app|}}
			<li class="list-group-item">
				{{#app-info app=app as |appInfo|}}
					{{appInfo.actionsPanel}}
				{{/app-info}}
			</li>
		{{/each}}
	</ul>
	{{#link-to "authenticated.apps.new"}}Add another app...{{/link-to}}
{{else}}
	{{#centered-content}}
		{{#if (can "create app")}}
			<h2>You don't have any apps yet!</h2>
			{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one
		{{else}}
			<h2>It doesn't look like anybody's created any apps yet!</h2>
			Wait for some to be created, then come back again
		{{/if}}
	{{/centered-content}}
{{/if}}
