{{#if model.length}}
	<div class="h2">
		<span>Your apps</span>
		{{#if (can "create app")}}
			{{#link-to "authenticated.apps.new" class="btn btn-primary pull-right"}}New...{{/link-to}}
		{{/if}}
	</div>
	<ul class="list-group">
		{{#each model as |app|}}
			<li class="list-group-item">
				{{#app-info app=app as |appInfo|}}
					{{appInfo.actionsPanel
						onEditApp=(route-action "onEditApp")
						onDeleteApp=(route-action "onDeleteApp")
						onSetAppStatus=(route-action "onSetAppStatus")
					}}
				{{/app-info}}
			</li>
		{{/each}}
	</ul>
{{else}}
	{{#centered-content}}
		{{#if (can "create app")}}
			<h2>You don't have any apps yet!</h2>
			{{#link-to "authenticated.apps.new"}}Click here{{/link-to}} to create one
		{{else}}
			<h2>It doesn't look like anybody's created any apps yet!</h2>
			Wait for some to be created, then come back again
		{{/if}}
	{{/centered-content}}
{{/if}}
