{{#bs-navbar fluid=true as |navbar|}}
	<div class="navbar-header">
		<a class="navbar-brand">Appy</a>
	</div>

	{{#navbar.content}}
		{{#if session.isAuthenticated}}
			{{#navbar.nav as |nav|}}
				{{#nav.item}}{{#nav.link-to "authenticated.apps"}}Apps{{/nav.link-to}}{{/nav.item}}
				{{#nav.item}}{{#nav.link-to "authenticated.account"}}Account{{/nav.link-to}}{{/nav.item}}
			{{/navbar.nav}}

			<button class="btn btn-default navbar-btn navbar-right" {{action "logOut"}}>Log out</button>
		{{/if}}
	{{/navbar.content}}
{{/bs-navbar}}

<div class="container-fluid">
	{{outlet}}
</div>
