<h3>Tell us a bit about your app</h3>
{{#with (changeset model appValidations) as |changeset|}}
	{{#bs-form formLayout="vertical" model=changeset onSubmit=(action "saveApp") as |form|}}
		{{form.element controlType="text" label="Name" placeholder="What is your app called?" property="name"}}
		{{form.element controlType="textarea" label="Description" placeholder="Give a brief description of the app" property="description"}}

		{{bs-button defaultText="Cancel" type="secondary" buttonType="button" click=(action "cancel" changeset)}}
		{{bs-button defaultText="Create my app!" type="primary" buttonType="submit" class="pull-right"}}
	{{/bs-form}}
{{/with}}
