<div class="container">
	<h3>Tell us a bit about your app</h3>
	{{#bs-form formLayout="vertical" model=model as |form|}}
		{{form.element controlType="text" label="Name" placeholder="What is your app called?" property="name" required=true}}
		{{form.element controlType="textarea" label="Description" placeholder="Give a brief description of the app" property="description"}}

		{{bs-button defaultText="Create my app!" type="primary" buttonType="submit" class="pull-right"}}
	{{/bs-form}}
</div>
