<span class="h4" {{action (action onClick) app}}>{{app.name}}</span>

{{yield (hash
	header=(component "app-info/header" app=app)
	content=(component "bs-collapse" collapsed=(not expanded) app=app)
)}}
